.hero {
  background-image: url('./assets/smoky-sunrise.png');

  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px #000;
}


.container {
  background: white;
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  color: #555;
}

.email-link {
  color: #007BFF;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

img {
  max-width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 700px;
  margin: auto;
}

li {
  background: white;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li img.thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.biz-info {
  flex: 1;
}

.biz-info h3 {
  margin: 0;
  color: #2c3e50;
}
